@import "tailwindcss";
@plugin "daisyui";

/* custom input for tailwind css */
@theme {
  --font-syne: "Syne", "sans-serif";
  --font-roboto: "Roboto", "sans-serif";
  --font-michroma: "Michroma", "sans-serif";
  --font-inter: "Inter", "sans-serif";

  --color-redA: #cd1b27;
  --color-grayA: #222222;
  --color-grayB: #919191;
  --color-grayC: #d9d9d9;
}
